name: GPG Sign check

on:
  # pull_request:
  #   branches:
  #     - master
  push:
    branches:
      - "*"
    # tags:
    #   - "v*"
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0

      - name: Check tooling
        run: |
          gpg --version

      - name: Generate data to sign
        run: |
          date > data.txt

      - name: Sign data
        uses: ./gpg-sign
        with:
          key: ${{ secrets.GPG_PRIVATE_KEY }}
          file: data.txt

      - name: Check
        run: |
          ls -al

          echo "Importing public key"
          echo ${{ secrets.GPG_PUBLIC_KEY }} | gpg --import

          echo "Listing known keys"
          gpg -k
